.vscode/

# temp*
tmp/

*.pyc
*.egg-info/
__pycache__/

.DS_Store

# trained models
/runs/gait-conditioned-agility/2024*/
/runs/gait-conditioned-agility/pretrain-go2/

go2_gym_deploy/build/
go2_gym_deploy/unitree_sdk2_bin/library/unitree_sdk2/build/

*.yml
*.png
